<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Python Web{%endblock%}</title>
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
</head>

<body>
    <header class="top">
        <h1>Python en la Web</h1>
        <p>Sets + in + if + sesión temporal</p>
    </header>

    <main class="container">
        {%block content%}{%endblock%}
    </main>

    <footer class="foot">
        <small>Clase básica-sin base de datos</small>
    </footer>
</body>

</html>
