<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Python Web{%endblock%}</title>
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
</head>

<body>
    <header class="top">
        <h1>Registro de usuarios</h1>
        <p>Utilizando Flask + MySql </p>
    </header>

    <main class="container">
        {% with message + get_flashed_messages(with_categories-true)%}
                {% if message %}
                {%for category, message in messages %}
                <div class="mensaje {{ category }}">{{message}} </div>></div>
                {% endfor %}
                {% endif %}
        
        {%endwith%}

        <!--Aquí se inyecta el contenido específico de cada vista-->
        <!--Esto es lo de Jinja para que se visualice el HTML con Python-->
        {%block content%}{%endblock%}
    </main>

    <footer class="foot">
        <small>Proyecto con base de datos</small>
    </footer>
</body>

</html>
