{%extends "base.html"%}
{%block title%}Registro{%endblock%}

{%block content%}
<section class="card">
    <h2>Registro de usuario</h2>
    <!-- Formulario que envía los datos a la ruta /registro-->

    <form method="post" action="{{url_form(acceso.procesar_registro)}}" class="form">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{nombre if nombre else}}" required>

        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" value="{{correo if correo else}}" required>

        <label for="clave">Contraseña:</label>
        <input type="password" id="clave" name="clave" required>

        <label for="rol">Rol:</label>
        <select name="rol" id="rol">
            <option value="empleado" {% if rol == 'empleado' %}>Empleado</option>
            <option value="supervisor" {% if rol == 'supervisor' %}>Supervisor</option>        
            <option value="admin" {% if rol == 'admin' %}>Administrado</option>        
        </select>

        <button type="submit">Registrar usuario</button>
    
    </form>

    <a href="{{url_for('acceso.index')}}" class="link">Volver al incio</a>

</section>
{%endblock%}